.assetsHeading{
    margin-bottom: 9px;
    color:  #475569;
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  
  }
  .assetsContent{
    color:  #64748B;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }