.container {
  background-color: #6a1b9a;
  color: #ffffff;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #cbd5e1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

.header {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.008em;
  text-align: left;
}

.netAssets {
  font-family: "Plus Jakarta Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.013em;
  text-align: left;
}

.changeContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.change {
  padding: 4px 8px;
  gap: 4px;
  border-radius: 12px;
  opacity: 1;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.005em;
  text-align: center;
  color: #22c55e;
  background: #f0fdf4;
}

.timeframe {
  width: auto;
  height: auto;
  padding: 4px 8px;
  gap: 4px;
  border-radius: 12px;
  opacity: 1;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.005em;
  text-align: center;
  color: #475569;
  background:white;
}

.grossAssets {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.006em;
  text-align: left;
}

.grossAssetsValue {
  font-weight: 700;
  margin-left: 4px;
}

.liabilities {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #ffffff;
}

.liabilitiesValue {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #fda4af;
  margin-left: 4px;
}

.assetsInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.optionsIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 1.8em;
  cursor: pointer;
}

.nextIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assetsInfoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
