.statusCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 8px;
  border-radius: 24px;
  color: #475569;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.006em;
}

.label {
  flex: 1;
}

.value {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.006em;
}

.pill {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #22c55e;
  color: #ffffff;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.005em;
  border-radius: 12px;
  padding: 4px 8px;
}

.icon {
  margin-right: 4px;
}

.pillInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px
}
