.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:18px 30px 26px;
    border-bottom: 1px solid #E0E0E0;
    margin-left: 250px;
}
.Search{
    width: 100%;
    max-width: 400px;
    border-radius: 19px;
    border: 0.6px solid #D5D5D5;
    background: #F5F6FA;
    padding: 10px;
    cursor: pointer;
}
.SearchContent{
    display: flex;
    align-items: start;
    gap: 4px;
}
.Typography{
    color: #1E293B;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-weight: 400;

}
.Profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.ProfileContent{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logoContent{
    display: flex;;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}
.Logo{
    color: #404040;
    font-family: "Plus Jakarta Sans";;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.Info{
    color: #565656;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal

}
.icon{
    cursor: pointer;
}